<h1> PV map Austria</h1>
<div class="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="options">
</div>
<h2>Where to put it?</h2>
If we know how much renewables we need, we have to put it somewhere.
The map should give an impression about the size of the renewables.
<br/>
<p>
The Gigawatts will pop up on meadows beside highways. 

</p>
<p>
It would be a big step if we could agree on where to put the equipment. Until then, here is the more random placement. 
</p>
<br/>
<pre>
    [out:json];
    area['name'='Österreich'];
    way(area)['highway'='motorway'][!covered][!tunnel][!area];
    (._;>;);
    out meta;


    (way(id:` + str + `);)->.autobahn;
    way(around.autobahn:100)[landuse~"meadow|farmland"];
    (._;>;);out meta;

</pre>
