<div text-align="right">

<mat-form-field  style="width:120px">
  <mat-select matNativeControl required [(value)] = "country" (selectionChange)="onDate($event)" [(ngModel)]="country" placeholder="country">
    <mat-option value="{{key}}" *ngFor="let key of keys()">{{key}}</mat-option>
  </mat-select>
</mat-form-field>
&#160;


<mat-form-field  style="width:70px">
  <mat-select matNativeControl required [(value)] = "timetype" (selectionChange)="onDate($event)" [(ngModel)]="timetype">
    <mat-option value="day">Tag</mat-option>
    <mat-option value="week">Woche</mat-option>
    <mat-option value="month">Monat</mat-option>
  </mat-select>
</mat-form-field>

<!-- week-->  
<span [hidden] ="timetype !== 'week'">
<button mat-flat-button (click)="back('weeks')">
  <mat-icon inline="true">arrow_back_ios</mat-icon>
</button>
<mat-form-field  style="width:40px">
  <mat-select required [(ngModel)] = "week" >
    <mat-option *ngFor="let weekstr of weeks" [value]="weekstr">{{weekstr}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-flat-button (click)="forward('weeks')">
  <mat-icon inline="true">arrow_forward_ios</mat-icon>
</button>
</span>


<!-- day-->  
<span [hidden]="timetype !== 'day'">
<button mat-flat-button (click)="back('days')">
  <mat-icon inline="true">arrow_back_ios</mat-icon>
</button>
<mat-form-field  style="width:40px">
  <select matNativeControl required [(ngModel)] = "day">
    <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
  </select>
</mat-form-field>
<button mat-flat-button (click)="forward('days')">
  <mat-icon inline="true">arrow_forward_ios</mat-icon>
</button>
</span>


<!-- month-->  
<span [hidden]="timetype === 'week'">
<button mat-flat-button (click)="back('month')">
  <mat-icon inline="true">arrow_back_ios</mat-icon>
</button>
<mat-form-field  style="width:70px">
  <select matNativeControl required [(ngModel)] = "month">
    <option value="1">Jänner</option>
    <option value="2">Februar</option>
    <option value="3">März</option>
    <option value="4">April</option>
    <option value="5">Mai</option>
    <option value="6">Juni</option>
    <option value="7">Juli</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">Oktober</option>
    <option value="11">November</option>
    <option value="12">Dezember</option>
  </select>
</mat-form-field>
<button mat-flat-button (click)="forward('month')">
  <mat-icon inline="true">arrow_forward_ios</mat-icon>
</button>
</span>


<!-- year-->  
<button mat-flat-button (click)="back('year')">
  <mat-icon inline="true">arrow_back_ios</mat-icon>
</button>
<mat-form-field  style="width:70px">
  <select matNativeControl required [(ngModel)] = "year">
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
  </select>
</mat-form-field>
<button mat-flat-button (click)="forward('year')">
  <mat-icon inline="true">arrow_forward_ios</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon (click)="reload()">refresh</mat-icon>
</button>
<!--
<mat-form-field>
  <input matInput [matDatepicker]="dp" laceholder="Verbose datepicker" [value]="date" (dateChange)="onDate()">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp ></mat-datepicker>
</mat-form-field>
-->
</div>