<!--The content below is only a placeholder and can be replaced.-->
<div style="right:20px">
  <app-datepicker [(yyyymmdd)] = "yyyymmdd"></app-datepicker>
</div>
<button [routerLink]="['/power']" routerLinkActive="router-link-active" >power</button>
<button [routerLink]="['/sankey']" routerLinkActive="router-link-active" >sankey</button>
<button [routerLink]="['/mutateconfig']" routerLinkActive="router-link-active" >config</button>
<button [routerLink]="['/map']" routerLinkActive="router-link-active" >map</button>
<div class="outlet">
<router-outlet></router-outlet>
</div>
<app-mutateui></app-mutateui>
