.outlet {
  margin: 20px;
  margin-right:100px;
}
hr {
  border:0px solid blue;
  height:15px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
}
button.router-link-active {
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
}