.outlet {
  margin-left: 0px;
  margin-right: 150px;
  height:400px;
}
hr {
  border:0px solid blue;
  height:15px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
  margin-top:-10px;
}
button.router-link-active {
  color: blue;
  margin-top:3px;
}
button {
  padding-top: 0px;
}
.logo {
  position:absolute;
  top: 0px;
  left: 0px;
}
span {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
    .datepicker {
        display: none !important;
    }
    .outlet {
      margin-right:00px;
    }
}