<div style="text-align:center">
  <svg id="sankey" width="960" height="600"></svg>
</div>
<br/>
<br/>
<br/>
In diesem Diagramm werden der Aktuelle Elektrizitätserzeugung und die durchschnittlichen Werte für andere Energien dargestellt. 
<dl>          
    <dt>Curtailment </dt>
    <dd>Energie die zwar zur Verfügung steht aber nicht gebraucht wird. Die Anlagen werden abgeriegelt.</dd>
             
    <dt>Chemische vs. elektische Energie</dt>
    <dd>Im Diagram wird der Endenergieverbauch dargestellt. Die Umwandlung in Strom mit allen Verlusten, ist schon passiert.</dd>
                 
    <dt>Power2Gas</dt>
    <dd>Hier der elektrizitätsverbruach der P2G Anlagen dargestellt. Umwandlungsverluste sind also noch nicht eingerechnet</dd>
                 
    <dt>EV</dt>
    <dd>Die Umstellung auf Elektrofahrzeuge senkt den Endenergieverbauch. Umwandlungsverluste sind in der Graphic nicht dargestellt.</dd>
</dl>