<h1>2050 Klimaneutral</h1>
<p>
Dieses Tool bietet eine interactive Möglichkeit, die auswirkungen alternativer Energien zu simulieren.
Dabei werden Daten von APG und Statistic Austria als Grundlage genommen.
</p>
<p>
Basierend auf historischen Daten wird errechnet was ein ausbaut der Erneuerbaren und die elektrifizierung aller Diesel und Benzin Motoren bewirkt. 
</p>

<h2>Energie</h2>

Unser Endenergieverbrauch beträgt ungefähr 300 TWh pro Jahr.
<br/>
<img src="/assets/energy.png"/>
<br/>
<p>
Auffallend ist der verschindend kleine Teil der die erneuerbaren Energien und der große Anteil an Erdöl Produkten.
</p>
<p>Allerdings spricht der Zweite Hauptsatz der Thermodynamik für die Erneuerbaren</p>

<h4>Chemische Energie</h4>
* Läßt sich in großen Mengen Speichern<br/>
* Läßt sich nur mit großen Wärmeverlusten in mechanische Energie verwandeln
* Rohöl ist mit ~0.05€/kWh relativ teuer
<h4>Elektrische Energie</h4>
* Verbrauch und Erzeung müssen überinstimmen.<br/> 
* Mit Wärmepumpen ist viel zu machen
* Wind und Solar liefern elektrische Energie.
<h4>Speicher</h4>
* Kapaiztät von ca 2 TWh in den (Pump-) Speichern
* 5 GW Spitzenleistung<br/>
* 2 GW Pumpleistung
<h4>Transport</h4>


<h2>Stromwende</h2>
Die erfolgreichsten alternativen Energiequellen sind Wind und Solar. 
Es ist zu erwarten, dass diese in einem günstigen Umfeld ohne Subventionen konkurrenzfähig werden.

