<mat-tab-group>
  <mat-tab label="Modul kaufen"> </mat-tab>
  <mat-tab label="Ich hab Platz"> </mat-tab>
  <mat-tab label="Ich bau die Anlange"> </mat-tab>
</mat-tab-group>
<h2>PV Park Hirtenberg 1</h2>
<p>{{meta.totalPanels}} PV Module, {{(meta.totalPanels * meta.panel.power) | units:'W'}}p  </p>
<div style="position:absolute;top:230px;left:1000px">
  <h3>Produkt</h3>
  {{meta.panel.name}}<br/>
  {{meta.panel.power}} Wp<br/>
  {{cart.length}} Module <br/>
  {{cart.length * meta.panel.power | units:'W'}}p<br/>
  {{cart.length * 250}} €<br/>
  <h3>Erwarteter Ertrag</h3>
  {{cart.length * 0.31 | units:'MWh'}}/a<br/>
  {{cart.length * 0.31 * 50 | number}} €/a<br/>
  <h3>Laufende Kosten</h3>
  Versicherung {{cart.length *2}} €/a<br>
  Wartung {{cart.length *2}} €/a<br>
  Pacht {{cart.length *1}} €/a<br>
  <h3>Personal</h3>
  Beschriftung <br/>
  (max 500 Zeichen)<br/>
  <input/><br/>
  Der Park zugang zum Park per Zahlencode<br/>
  Laufzeit 25 Jahre
</div>
<svg width="1200" height="1500" id="svg">
  <rect fill="#efefef" width="1200" height="1500"/>
  <g transform="translate(10,20) scale(0.7)">
    <g *ngFor="let umme of blocks; let i = index" attr.transform="translate(0,{{i * 170}})">
    <g *ngFor="let ahe of umme">
    <g *ngFor="let feature of geometry.features">
      <g attr.transform="translate({{feature.x}}, {{feature.y}})">
        <rect (mouseup)="click($event, feature.properties)" x="30" y="0" width="18" height="10" fill="white" stroke="black"/>
      </g>
      <rect x="1" y="1" width="20" height="20" stroke="black" fill="yellow" />
      <text y="15" x="2" font-size="12">~/-</text>
    </g>
    </g>
    </g>
  </g>
</svg>